<!doctype html>
<html ng-app="chatterBox">
<head>
  <title></title>
  <meta name="viewport" content="width=device-width">
  <link rel="stylesheet" type="text/css" href="lib/bootstrap/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="lib/bootstrap/css/bootstrap-responsive.min.css">
  <link rel="stylesheet" type="text/css" href="css/custom.css">
  
</head>
<body>
<header class="hero-unit">
    <h1>ChatterBox</h1>
    <p class="lead">Welcome to ChatterBox!</p>
</header>

<div class="container-fluid" ng-controller="UsersCtrl">
  <div class="row-fluid">

    <div class="span2 panel" ng-controller="RoomsCtrl">
      <div class="row-fluid">
        <div class="span12 text-center">Rooms/Topics</div>
          <ul ng-repeat="room in rooms" class="text-center unstyled">
            <li><a href="#/room/{{ room.id }}">{{room.name}}</a></li>
          </ul>
      </div>
    </div>

    <div ng-view class="span7 panel"></div>

    <div class="span3 panel">
      <div class="row-fluid">
        <div class="span12 text-center">Users</div>
      </div>
       <div class="row-fluid">
        <input type="text" class="span10 offset1 text-center" ng-model="currentUser.name" value={{ currentUser.name }}>
      </div>
       <div class="row-fluid">
          <ul ng-repeat="user in users" class="text-center unstyled">
            <li>{{user.name}}</li>
          </ul>
      </div>
    </div>
  </div>


</div>


<script src="lib/angular.js"></script>
<script src="js/app.js"></script>
<script src="js/controllers/UsersCtrl.js"></script>
<script src="js/controllers/RoomsCtrl.js"></script>
<script src="js/controllers/ChatCtrl.js"></script>

</body>
</html>